@import '../../partials/config';

.landing {
    height: calc(100% - $navbar-height);
    display: flex;

    &-text {
        margin: auto 1rem;

        .landing-content {
            > h1 {
                margin-bottom: 4rem;
                font-size: 7rem;
            }

            > .sub-title {
                margin-bottom: 4rem;
                font-size: 3rem;
            }

            .sign-up-btn:first-child {
                margin-right: 4rem;
            }

            .sign-up-btn {
                border-radius: $button-radius;
            }
        }
    }

    .backdrop {
        margin: auto;
        padding-top: 1rem;
        width: 80vw;
    }
}

@media screen and (max-width: $media-tablet-width) {
    .landing {
        flex-direction: column-reverse;
        justify-content: space-around;
        &-text {
            margin: initial;
            margin-bottom: 10rem;

            .landing-content {
                text-align: center;
                > h1 {
                    margin-bottom: 2rem;
                    font-size: 5rem;
                }

                > .sub-title {
                    margin-bottom: 2rem;
                    font-size: 1.5rem;
                }
            }
        }
    }
}
